<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RMU_Project.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <RMU_Project.Properties.Settings>
            <setting name="ComPort" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="Channel_Param" serializeAs="String">
                <value />
            </setting>
            <setting name="Radar_Mode" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="Up_ConvAtt" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="STC_Offset" serializeAs="String">
                <value>14</value>
            </setting>
            <setting name="STC_Point1" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="STC_Point2" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="Start_Freq" serializeAs="String">
                <value>9250</value>
            </setting>
            <setting name="ManualCalibration" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="Channel_Params_Lock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ManualTxSwitch" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ManualRxSwitch" serializeAs="String">
                <value>2</value>
            </setting>
        </RMU_Project.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Telerik.WinControls" publicKeyToken="5bb2a467cbec794e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2012.1.321.20" newVersion="2012.1.321.20" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
